[2016-01-10 16:28] cdmedia opened #1 "Add pagination"

[2016-01-10 16:28] cdmedia opened #2 "Fix order of posts"
Order posts from newest to oldest

[2016-01-12 03:08] chrisdiana opened #3 "Add tags"
Add post tags feature

[2016-01-19 13:48] marcolino opened #4 "Handle layout tag"
Handle 'layout' tag in posts header (currently it's ignored).
Allowable values seem to be (from samples): 'default' and 'post'.

[2016-01-19 15:52] cdmedia opened #5 "Add polyfill for String.prototype.endsWith"
This is an ES6 feature not supported by all browsers

[2016-01-19 15:54] chrisdiana opened #6 "Blank screen for no-loads"
Address blank screen for loading issues. Possibly loader.

[2016-01-19 21:39] Gaserd commented on #5
Why? Chrome supported ( latest version )
And MDN respond your question
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith

[2016-01-20 02:35] chrisdiana commented on #5
Some users found issues using Safari below v9.

[2016-01-20 04:11] rsbondi opened #7 "Line endings"
This did not work on my windows machine due to different line endings,

I changed [this](https://github.com/cdmedia/cms.js/blob/master/js/cms.js#L205)

to `var infoData = data[1].split(/[\n\r]+/);`

I think that should cover all cases but have not tested

[2016-01-20 10:45] toutpt opened #12 "cms.js is not a CMS, please rename it."
Please, don't name it cms.
cms.js do not let the user manage it's content.
The content is managed outside (by a text editor).

Every CMS provide:
* server side to store the data
* backend to write the content
* front end to let visitor view the content

CMS.js provide:
* tools to transform text into web page using theme.

So it is not a CMS.
https://en.wikipedia.org/wiki/Content_management_system

[2016-01-20 15:03] chrisdiana commented on #12
Definitely open to suggestions. Anyone have any ideas?

[2016-01-20 15:21] dindinet commented on #12
ops.js

one page static

[2016-01-21 00:04] nimag42 commented on #2
Hello, I found your project very interesting, I've worked on this issue and it work.. Can I send you a pull request :) ?

[2016-01-21 00:46] chrisdiana commented on #7
Thanks! I'll open a PR for this.

[2016-01-21 01:03] chrisdiana commented on #7
Patched with PR #14

[2016-01-21 01:03] #7 closed

[2016-01-21 01:03] #2 closed

[2016-01-21 01:08] chrisdiana commented on #12
I like the direction. I'm going to leave this open bit longer to give anyone else that would like the opportunity to voice their suggestions. Then, maybe setup a small Google poll to see what majority likes.

[2016-01-21 03:53] ali4ever4 commented on #12
just suggesting
CMMS.js  :)

clientside Markdown markup system

[2016-01-21 04:05] ali4ever4 opened #16 "option for main page to list posts or show specific page"

[2016-01-21 04:12] GersonLazaro commented on #12
CMMS.js!

[2016-01-21 04:14] chrisdiana commented on #12
:thumbsup: nice

[2016-01-21 04:14] chrisdiana commented on #12
Clientside Markdown Site?....doh

[2016-01-21 04:42] ali4ever4 opened #17 "Option to support a page, a post, or the whole site to be right to left"
for right to left languages

[2016-01-21 09:04] ali4ever4 commented on #12
CMS
CMS is Markdown Site

[2016-01-21 11:51] maybegeek opened #18 "default ordering of posts"
Hi,

default ordering of posts would better be news on top ?
with an option in the config.js for changing.

 `b.date - a.date`

see comment on commit: https://github.com/cdmedia/cms.js/commit/8ba9ceb3d36f7968032ba3767cb949debf4e0ae9#commitcomment-15583266

[2016-01-21 17:00] nimag42 commented on #18
See [pr 19](https://github.com/cdmedia/cms.js/pull/19) :)

[2016-01-21 17:41] andrealinux1 opened #20 "Support for NGINX"
Maybe this is a silly question, but I don't see anywhere explicitly stated that there is support for nginx. Because I use nginx on my server I tried to make it working: I used the __Apache Mode__ and then included in my configuration of nginx something like this:
[code]
The important line is the instruction ```autoindex on ```, without it the web page displays an error.
Everything seems working fi

[2016-01-21 17:43] j10wy commented on #12
I'm a fan of CMS, CMMS, or something like jsSG. When I heard about CMS.js I immediately thought of it as an alternative to Jekyll, not Wordpress, Drupal, etc. This is a really cool project. Thank you!

[2016-01-21 18:14] chrisdiana commented on #20
Cool thanks for testing this out. I'll make sure to include this in the wiki/setup and add Nginix to supported platforms.

[2016-01-21 18:24] #18 closed

[2016-01-22 12:45] timqian opened #23 "github rate-limiting"
According to the doc (https://developer.github.com/v3/#rate-limiting), one can only access github api 60 times per hour without auth. Do you think it is a problem?

[2016-01-22 14:21] maybegeek commented on #16
Hi,

following the [WordPress static page frontpage process](https://codex.wordpress.org/Creating_a_Static_Front_Page#WordPress_Static_Front_Page_Process) and/or different places/pages for the posts/blog it could be done like this:

in our `config.js`

[code]

in our `cms.js`

[code]

It is working. Surely, with (better) js-skills this can be optimized.

best regards

[2016-01-22 14:35] chrisdiana commented on #23
I remember coming across that in the docs and I thought the same thing...although the [CMS.js demo](http://cdmedia.github.io/cms.js/demo/) site received over 10k sessions last Tuesday at one point getting 1000 requests per hour (which I'm sure was over 60 unique IPs) without any rate lock downs. Although, this may have been skewed because of Github users being logged in. I think if this does becom

[2016-01-22 15:14] timqian commented on #23
If I get you right, you have some misunderstanding about `rate-limiting`.
Rate-limiting says that one IP can only access github api 60 times per hour, It's not about IP number accessing the same content.

[2016-01-22 15:31] chrisdiana commented on #23
Oh right, I get what your are saying. My misunderstanding. Yeah, then I definitely think we should be alright. 60 times/hour per IP is plenty of room. If the site becomes that big, I'm sure moving to self hosted is a much better option anyway. I'll definitely add a note in the README or wiki about rate-limiting using Github.

[2016-01-22 15:39] raphaelbastide commented on #12
`Voilà` could be a nice name.

![selection_243](https://cloud.githubusercontent.com/assets/193122/12515079/c2073b2c-c126-11e5-85f0-6e5c91257d3d.png)

EDIT: and of course it already [exists](https://github.com/staaky/voila).

[2016-01-22 15:50] timqian commented on #23
Information might be useful:
While requesting files, your can use this url: `https://raw.githubusercontent.com`, for example:
https://raw.githubusercontent.com/cdmedia/cms.js/master/pages/about.md
This way, user only request github api for dirs, And 60 times/hour will be enough(I think).

ref:
https://developer.github.com/changes/2014-04-25-user-content-security/

[2016-01-22 16:02] timqian commented on #23
Oh, sorry for not reading your code more careful.
The client access the files by the `download_url`. This won't count. Github api is accessed only for retrieving folders. Then the problem is not so big as I thought.

[2016-01-22 16:38] nsteiner opened #24 "Render blocking question"
I'm liking this as a system quite a bit, but have mixed feelings (or maybe just confusion) about the impact of taking a content site (vs app) and blocking immediate render. Is there a work-around for people who share this concern?

![screen shot 2016-01-22 at 11 29 55 am](https://cloud.githubusercontent.com/assets/111835/12516533/f5b78416-c0fb-11e5-98f3-8691b86e8591.png)

[2016-01-22 20:26] deanapeterson commented on #12
presto.js

[2016-01-22 22:21] cicerohen commented on #12
@cdmedia  simplestatic.js

[2016-01-22 22:27] DarrylD opened #25 "SEO?"
Many people use a cms or something like Jekyll for the SEO value. With this having no server to render pages, nothing will be indexed. Any solutions for this as it's a cms?

[2016-01-22 23:19] chrisdiana commented on #25
Google renders Javascript when it crawls. More about it [here](http://searchengineland.com/tested-googlebot-crawls-javascript-heres-learned-220157). Not sure about other engines.

[2016-01-23 01:57] hi-caicai opened #27 "Make a simple theme for cms.js"
I made a simple theme, but I found some problems, such as the article list page, should not put the markdown into HTML, To my understanding, should select only p, filter out the img, h1...
The other question, in the article doesn't  support HTML input, such as < p style = "XXXX" > < / p >

https://github.com/hi-caicai/cms.js-themes

[2016-01-23 02:06] DarrylD commented on #25
Not sure how accurate that is. I didn't see any of the demo pages indexed. Also if you run the demo in a tool like https://varvy.com/tools/ to see what a bot crawl will return, you see no content.

I also have a nice amount of sites that has dynamic content from javascript, those been around for some time and that content still isn't indexed.

I would like for this to work from a SEO perspective b

[2016-01-23 05:41] #23 closed

[2016-01-23 05:48] chrisdiana commented on #23
I'll close this for now unless this becomes an issue in the future.

[2016-01-24 02:39] chrisdiana commented on #12
Thanks for all the suggestions all. I'm going to leave this open till Monday and then we can vote.

[2016-01-24 06:31] ghost commented on #12
I've always thought a JS rendering engine would be really cool and so I went searching for it and finally found what you made here. Glad to catch it so early after you put it on Github so I can be a part of it. Here's a few name ideas. Note that I didn't look to see if any of them have already been taken or otherwise branded.

Copper.js (Client-side One Page Publishing Engine for Reading)
Raw.js (

[2016-01-24 06:48] ghost commented on #25
I'm also curious about this. Even if there is no solution, @DarrylD, and if you were to find out that it in fact isn't indexing the content, the code could still be used to generate a true static site (not that this is the goal). It's the kind of thing where if this repo developed far enough, someone could build an app or php webpage designed specifically to generate it as a static site, and then

[2016-01-24 23:05] DarrylD commented on #25
@barryanders Yea, I agree we can pivot in a different direction if we want seo, ideally to node which would make it a genuine replace to Jekyll and less hassle. I do like the concept though.

[2016-01-25 01:01] DanielBaird commented on #12
Should avoid M-for-markdown in the name, coz expanding to other markup languages is a fairly likely future evolution.

How about Wahlah.js?  wahlah dot io is available.

[2016-01-25 15:11] ghost commented on #27
Nice theme! I like it.

[2016-01-25 15:32] ghost commented on #25
Since this is currently a client-side engine that describes itself in `readme.md` as not doing anything server-side, I would be curious if it is possible to index the site without changing the product.

[2016-01-25 15:39] DarrylD commented on #25
I don't think it is until search engines improving their indexing.

[2016-01-25 15:39] #25 closed

[2016-01-25 15:52] zamber commented on #27
It would be nice to have Jekyll theme compatibility ;).

[2016-01-25 19:39] johanalkstal opened #32 "Workflow"
So is the idea that you set the configuration and modify your theme in the master branch, and write your posts in the gh-pages branch?

It's the master branch that is served by Github but cms.js gets posts from gh-pages branch?

[2016-01-25 19:42] ghost commented on #24
Due to the nature of the way it works, those resources have to be loaded first because they are what grabs the content. After an initial load, you could cache the js files so that the user doesn't have to reload them every time. Still, this is somewhat necessary since this works with hash-based routing so you technically never leave the same page.

Essentially, Google is misleading because they ar

[2016-01-25 19:47] ghost commented on #25
Here's one way it could work. If you can tell Googlebot in `.htaccess` to index the content directories, then...
1. Googlebot -indexes-> content directories (ex. `pages` and `posts`).
2. User -clicks-> Google link (ex. `http://localhost/pages/about.md`).
3. User is -Redirected-> to hash-based url (ex. `http://localhost/#page/About`).

For that to work, you would have to be able to invoke a redirec

[2016-01-25 19:56] polmoneys commented on #12
love what you are building here, i'll be playing with it this weekend :smiley_cat:

Not an english speaker but to me feels as a piece of code that allows us to share ideas on the web fast so something in the spirit of **ship.js** could work.

[2016-01-25 19:57] onezerodigits commented on #24
Thanks @barryanders that makes sense. So should cms.js also be able to generate a sitemap for crawling? https://support.google.com/webmasters/answer/183668?hl=en&ref_topic=4581190
I'm a little unclear on if sites generated by cms.js can be crawled as-is.

[2016-01-25 20:01] devanp92 commented on #5
Where would the polyfill be placed within the repository?

[2016-01-25 20:36] ghost commented on #12
@DanielBaird Good point about M-for-markdown. I assume by Wahlah, you mean the onomatopoeia of voila. Lol, in search for this, I found some guy who was mad about people spelling it that way. Here's his quote, just for fun.

"I wish people would stop writing "wallah" instead of "voilà". It probably irks me the most out of all the misspellings out there. It’s pronounced VWAH-LAH. Not WAH-LAH." - ([S

[2016-01-25 21:06] ghost commented on #24
I think that's a good idea to generate a sitemap for sure. Although, looks like [including hash links won't do any good](http://webmasters.stackexchange.com/questions/22411/sitemap-to-display-hash-tag-links-or-not). Direct links to the content would have to be included in the sitemap, because Google would count each hash link as the same page (ex. index.html#page1, index.html#page2). I'm going to

[2016-01-26 00:41] dawncold commented on #32
@johanalkstal I think you're right.

[2016-01-26 02:35] ghost commented on #25
I hate to keep this one going since you closed it, but I thought I would offer a little more info for anyone who finds this.

Just because you use this engine doesn't mean you can't have static html content. There's no reason you can't have both. Additionally, you can create separate HTML files for different blog categories. So you could use this engine on every page, but customize your different

[2016-01-26 02:49] chrisdiana commented on #32
The best way to do it is to clone master branch and then branch off of your master branch to gh-pages branch. Then set your theme, configure etc on gh-pages.  gh-pages branch is the branch that is served by Github. Once that's done you can just work off gh-pages. I'm going to be modifying the way master is set up shortly for easy updates. This way when there are updates to source files you can jus

[2016-01-26 02:53] chrisdiana commented on #27
Great looking theme! I'm going to be adding a themes page to the wiki and I'll make sure to include this.

[2016-01-26 03:34] chrisdiana commented on #12
Thank you all for your suggestions! I've create a Google poll with your name ideas so feel free to vote for your favorite! We'll tally up the votes next week.

[https://docs.google.com/forms/d/1tLA7PMJcqGEqQ0He0g7EttIoQxgzfUYGAMfmMOkk9Gw](https://docs.google.com/forms/d/1tLA7PMJcqGEqQ0He0g7EttIoQxgzfUYGAMfmMOkk9Gw)

[2016-01-26 04:38] ali4ever4 commented on #25
@barryanders really good information thanks for sharing them

[2016-01-26 05:55] zamber commented on #12
http://m.youtube.com/watch?v=orybDrUj4vA

IMHO a different voting system should be used ;). I will completely not put
that link on Slack to skew the results.
On Jan 26, 2016 4:35 AM, "Chris Diana" notifications@github.com wrote:

[2016-01-26 05:57] johanalkstal commented on #32
That's only true for Project Pages.

User and Organization Pages don't use gh-pages branches. Their content is published from master.

https://help.github.com/articles/user-organization-and-project-pages/

So in order to get my johanalkstal.github.io page working, I had to do as I described above.

[2016-01-26 06:01] zamber commented on #25
Wouldn't hijax make it work?
https://developers.google.com/webmasters/ajax-crawling/docs/learn-more
On Jan 26, 2016 5:39 AM, "ali4ever4" notifications@github.com wrote:

[2016-01-26 06:16] ghost commented on #25
Hadn't heard of that. If that's all it takes, then this will be easy. Looks like the key is allowing the crawler to access content via a query string. The user will still use the hash though. I will look at this tomorrow more closely and I may attempt to implement it. Thanks for sharing @zamber

[2016-01-26 06:25] ghost commented on #25
@zamber never mind. I noticed that the page says their recommendation their is deprecated. Then they link to another page saying that Google is capable of reading the content of a JavaScript page so long as the user is not blocking it. I will still make sure that cms.js adheres to these standards as since this was updated October 2015, this is very new hence why nobody here seemed to realize it. h

[2016-01-26 16:46] zamber commented on #25
2009? That's interesting. I was aware they started crawling by doing server
side JS execution but never probed what actually the crawler saw. Just
recalled that in Google webmaster tools there's a tool to preview what the
googlebot will see, this could be helpful in assuring that CMS.js is
actually crawled.

On Tue, Jan 26, 2016 at 7:25 AM, Barry notifications@github.com wrote:

[2016-01-26 20:50] ghost commented on #17
This is easy to achieve using standard HTML.

Simply add `dir="rtl"` to most any attribute and the text within will be displayed right to left. You can simply add it to the body tag to encompass all content: `<body dir="rtl">`.

For implementation, I would propose adding an option in the config so that if false, it does nothing. If true, then it adds the attribute to body.

[code]

If someone want

[2016-01-26 21:23] zetalevel opened #34 "pages and htaccess issue"
This is cool, I wish I could get it working on my web hosting account. CMS.js always reports that something went wrong, and to check config.js for the pages directory and .htaccess.

But I never changed the name of the pages directory, and the .htaccess from the download is present in that directory without modification. The mode is set to Apache.

Putting in the whole path like http://www.mywebho

[2016-01-26 22:12] ghost commented on #34
It should work out of the box after changing to mode Apache (assuming your host is using Apache). If you provide a link, I might be able to help you.

[2016-01-26 22:20] zamber commented on #17
RTL is achievable though CSS so there's no need for engine modifications.
All you should need is a localized theme (AFAIK)
https://developer.mozilla.org/en-US/docs/Web/CSS/direction . Probably there
are edge cases but I would start with a theme and add necessary
modifications to the engine as needed.

IMHO in case of CMS.js JavaScript size is of paramount importance and
fixing stuff that (which co

[2016-01-26 23:19] ghost commented on #17
That's fair. I agree with that. I went ahead and removed my contribution of the feature. Feel free to apply it locally if you want.

[2016-01-27 04:33] ali4ever4 commented on #17
I totally agree it is fully achievable through CSS , but  thought it will be better to have option for that in the config file

having the option in config file will make all themes implementation consider the RTL option also it can give more customizable options like making rtl for specific page/ post or section of the site (like if the site is half English and half rtl language)

(just an idea b

[2016-01-27 05:00] ghost commented on #17
I agree that it could be implemented at some point, although probably not directly into the cms.js file. Perhaps these kind of features could be handled with another js file that toggles features and also includes those features. Then the cms.js file would only need minimal inclusions to support it. Kind of like plugins.

I picture if there was ever an admin interface of some kind, then it would b

[2016-01-27 14:32] chrisdiana commented on #34
Yes, please provide a link. Also, remember that the host needs to allow .htaccess overrides.

[2016-01-27 15:13] zamber commented on #17
Still I have to disagree ;). Foremost a proper localization feature would
resolve this.

Then a bit of CSS would do the magic.

[code]

Note that with this you can have, say `en-US` set as the main locale and
override it per post by adding the `lang` attribute to the post `div`
through the front matter present in posts.

Still, I would lean toward shoving locale support on themes, not the engine
i

[2016-01-27 15:45] ghost commented on #17
On a side note, I had never thought of selecting the language attribute for css, so thanks for pointing that out @zamber.

The reason I thought of implementing it directly into the html is because it made sense to do it that way in another project I had worked on that toggled the attribute depending on the language. It's both wonderful and terrible that the same thing can be achieved so many diffe

[2016-01-27 16:15] zamber commented on #17
The attribute selector (especially with the wildcard) is slow IIRC so it's
not a golden bullet.

I've learned to rely on JavaScript for presentation as a last resort
(mainly because I had to keep IE8 compatibility). That didn't stop me from
using a lot of polyfills but that backfired on me when I had nested media
queries handled by Respond.js which led to circular triggering and
ultimately led IE8

[2016-01-27 16:23] ghost commented on #17
I've made recent contributions to try and cut jQuery out of the picture for this project. It'd be cool to not have to rely on it IMO.

[2016-01-27 23:59] dotnetCarpenter opened #35 "url is global"
On line https://github.com/cdmedia/cms.js/blob/master/js/cms.js#L263 and https://github.com/cdmedia/cms.js/blob/master/js/cms.js#L265 url is defined inside an if statement. You should make it custom to define all variables at the top of a function scope, to make it easier to spot mistakenly global variables or add `'use strict';` at the top to catch these reference errors.

[2016-01-28 00:05] dotnetCarpenter opened #36 "file.name already has the url folder"
On line [267 in cms.js](https://github.com/cdmedia/cms.js/blob/master/js/cms.js#L265) file.name already has the url folder but `url` is made up by concatenating `urlFolder + '/' + file.name;`. The result is `posts//posts/2016-01-01_example-post.md` which seems to be an error.

[2016-01-28 00:12] dotnetCarpenter opened #37 "The date parsing is very brittle"
On line [331 in cmd.js](https://github.com/cdmedia/cms.js/blob/master/js/cms.js#L331) the date parsing looks like this:
[code]
With a filename like */posts/2016-01-01_example-post.md* the result is *"/posts/201"* - hardly a parsable date.

[2016-01-28 04:34] dotnetCarpenter commented on #34
I think it's fixed with PR #38. Seems to be #36 **file.name already has the url folder** that bites.

[2016-01-28 05:01] chrisdiana commented on #32
Good to know. Thanks for verifying this. I may make a note of that on the wiki.

[2016-01-28 05:06] chrisdiana commented on #12
Thanks @zamber for the link. Cool explanation. I never really thought if it like that. Since, it's already up I took a look at the options for voting and enabled multiple submissions.

[2016-01-28 05:14] chrisdiana opened #39 "Fix for blog/static frontpage and posts listing"
This is a note for @maybegeek's PR #30. There was some conflicts that cause rendering to break so I had to revert momentarily. I'll make sure to merge your fix in once they are ironed out.

---

default: frontpage = '' = blog
user option: blog not on frontpage, instead page as frontpage, listing of posts defaults to #posts in that case
user option: blog not on frontpage, instead oage as frontpage

[2016-01-28 06:45] chrisdiana commented on #20
Added [Server Setup & Support](https://github.com/cdmedia/cms.js/wiki/Server-Support-&-Setup) page to wiki to include NGINX. Also updated source and readme.

[2016-01-28 06:51] #20 closed

[2016-01-28 10:40] maybegeek commented on #39
thanks : )

[2016-01-28 10:54] maybegeek commented on #36
Hi @dotnetCarpenter ,

for me, a fresh install of cms.js, with `option: Server` is getting no content because no urlFolder is beeing put before the filename.

`urlFolder + '/' +` is missing there, or should be given in another way ( line [267 in cms.js](https://github.com/cdmedia/cms.js/blob/master/js/cms.js#L267) )

[2016-01-28 11:47] dotnetCarpenter commented on #36
@maybegeek thanks for the feedback. I'll look into it.

[2016-01-28 14:08] BarryMode opened #40 "jQuery as a Dependency"
I'm almost through with recoding cms.js to not rely on jQuery. Would that be something that I could attempt to merge, or should I keep that one on my own branch?

The main reason I ask is that some of my code replacements relies on ES6 which is fully supported in current browsers but is relatively new and may not work in older browsers.

I did already merge one piece of code for that which is a ne

[2016-01-28 14:24] dotnetCarpenter commented on #36
@maybegeek, which server are you using?

[2016-01-28 14:44] chrisdiana commented on #40
Thanks @barryanders I'm definitely open to using vanilla JS and was thinking of converting it down the line myself. Although, I would really like to keep support for ES5 though being that CMS.js is in the early stages of development/usage...at least for now until the ES6 gap is tightened.

[2016-01-28 15:00] maybegeek commented on #36
Hi @dotnetCarpenter ,

`Apache/2.4.10 (Debian) PHP/5.6.17-0+deb8u1`

thanks

[2016-01-28 16:35] dotnetCarpenter commented on #36
What do you get if you http GET `posts//posts/2016-01-01_example-post.md` vs `/posts/2016-01-01_example-post.md`?

[2016-01-28 16:54] dotnetCarpenter commented on #36
ok, I think I found the culprit. What does `localhost/posts` return?

[2016-01-28 18:48] chrisdiana commented on #36
I ended up reverting to `url = urlFolder + '/' + file.name;` to fix this in server mode for now. Try a fresh clone again to see if that fixes it @maybegeek

[2016-01-28 19:35] dotnetCarpenter commented on #36
Hmm.. ~~I think you should add `/` in front of `file.name` instead.~~ _I need to tinker with cms.js a little bit more before I make such statements_ When using _ecstatic_ I get a 302 redirect to the proper url. I guess Apache needs to configure to do so. Your current solution will probably break more servers solutions than it solves.

Unfortunately, I don't have an array of servers to test. But it

[2016-01-28 19:49] chrisdiana commented on #36
@dotnetCarpenter I pulled and I was getting the same issue as @maybegeek without the last change. It was looking for the pages and posts in the root, at least on my Apache machine.

[code]

If you think other node servers follow a similar pattern, we can add probably add a conditional near there for just node and then maybe just change server mode into include node servers. I might try to play aro

[2016-01-28 19:52] dotnetCarpenter commented on #36
@cdmedia and @maybegeek could you just try one thing? Add a `/` after the folder name in the `config.js` file. Without the `url = urlFolder + '/' + file.name;` but with `url = file.name;`.

[code]

Ahh wait. I see it. I serve `cms.js` as base so my url is `http://localhost:4001/posts/`

[2016-01-28 19:57] dotnetCarpenter commented on #36
Hmm.. I guess a base option is in order? So if you serve `cms.js` in a subfolder to your root. E.g. `http://localhost/cms-js/` you specify `base: 'cms-js',` and if you serve it from your root then you have `base: '',`

[2016-01-28 20:02] chrisdiana commented on #36
Ahh gotcha. Yeah, I'm seeing the problem now if I used base `localhost`. Yep that should do the trick.

[2016-01-28 20:04] dotnetCarpenter commented on #36
@cdmedia quick start to _ecstatic_:
1. You need node and a terminal/commando prompt
2. Install with `npm i -g ecstatic`
3. In the `cms.js` folder, write `ecstatic .`
4. Open your browser and go to `localhost:8000`

[2016-01-28 20:08] chrisdiana commented on #36
Thanks @dotnetCarpenter I'm gonna give this a go later.

[2016-01-28 20:09] maybegeek commented on #36
hi there,
sorry for being late for the party : )

i was serving cms.js from a subfolder, not from within the root on a subdomain. But you guys have sorted that out already.

[2016-01-28 22:05] #37 closed

[2016-01-28 22:06] #35 closed

[2016-01-28 22:07] dotnetCarpenter commented on #36
I retract my idea about a `base` option. Much better to use [location.pathname](http://devdocs.io/dom/urlutils/pathname).

[2016-01-28 23:58] dotnetCarpenter commented on #36
@maybegeek If you got a local clone of cms.js, could you checkout if my PR #41 solves the subfolder issue in Apache?

Just do `git fetch origin pull/41/head:typeChecking` in the cms.js folder and then `git checkout typeChecking`.

Here is github's recipe for checking out a PR locally if you need: https://help.github.com/articles/checking-out-pull-requests-locally/#modifying-an-inactive-pull-reques

[2016-01-29 08:02] ButuzGOL opened #43 "Architect changes"
Currently I like how it starts
1. git clone
2. git push to your project

But then I thought about to move marked and jquery as deps using npm
So I get
1. git clone
2. npm install
3. move files from node_model to lib
4. git push

Also I thought about steps
1. npm install -g cms.js
2. cms.js init
3. git push

I thought about it because
1. break project to sep files
2. use babel
3. min sources
4. wri

[2016-01-29 10:34] maybegeek commented on #36
Hi @dotnetCarpenter ,
I did fresh `git clone` on two different Webhosters (Debian/Apache), changed `mode: Server` and it worked. Then I fetch/branch checkout your Pull Request 41, but the same cms.js error message on both installs ("Sorry, something went wrong : ( error loading content").

In Firefox -> Inspect Element -> Network I get the same `404` for the two default *.md files. The folder name

[2016-01-29 10:55] filipesilva opened #44 "Github Personal pages broken (ish)"
First of all, great project! I was looking for something just like this for a while for my personal blog.

I was setting it up according to the instructions, but I came across an issue. According to the [user pages docs](https://help.github.com/articles/user-organization-and-project-pages/#user--organization-pages), these use the `master` branch instead of `gh-pages`.

`cms.js` still tries to use

[2016-01-29 11:04] dotnetCarpenter commented on #36
OK, I really need to install Apache. Thanks @maybegeek! Is there any Apache configuration I should be aware of?

[2016-01-29 13:46] ghost commented on #36
You can just use wamp or mamp or lamp for local development. That's what I've been doing.

Edit: just realized you asked for a configuration, not a method of install. Mine worked without tweaking it.

[2016-01-29 14:29] chrisdiana commented on #36
@dotnetCarpenter NGINX has been confirmed to work as well. I setup this [wiki page](https://github.com/cdmedia/cms.js/wiki/Server-Support-&-Setup) the ofter day explaining the config setup.

I was playing around with estatic last night and I saw the same issue you were probably seeing:

[code]

I'm sure there's a way to handle both Apache/NGNIX and node style servers.

[2016-01-29 17:50] chrisdiana commented on #44
Thanks @filipesilva! You can actually override the branch by using this setting in `config.js`:

[code]

I didn't think too many users would be using different branches so it wasn't originally in the `config.js` file but I think it may be a good idea to add this in.

[2016-01-29 18:01] filipesilva commented on #44
Sweet. Thanks for the tip!

[2016-01-29 18:30] filipesilva commented on #44
Hm that setting alone does not seem sufficient. This is what I'm getting:

![image](https://cloud.githubusercontent.com/assets/4172079/12684369/69a7cbb4-c6b6-11e5-9fae-be6358a9dbf8.png)

[2016-01-29 18:32] filipesilva commented on #44
Ah got it, host was missing as per the defaults in `cms.js`:

[code]

Now it works!

[2016-01-29 18:41] dotnetCarpenter commented on #36
I'm installing Apache to see what is really going on. It mystify me that the pathname is completely missing on Apache/nginx, e.g. `posts` is not there.

@cdmedia and yes, that is exactly what I'm seeing.

[2016-01-29 18:45] dotnetCarpenter commented on #36
I'm assuming the following directory structure:

[code]

_Where localhost is pointing to the `root` directory._

[2016-01-29 21:28] chrisdiana commented on #43
Yes, I agree there needs a bit of an architecture change. I'm in the process of restructuring the code for easier editing/PRs/setup. We are also probably going to be moving away from jQuery and will probably use bower for marked deps.

I'm leaning towards having the "demo" content in it's own directory because `cms.js` is basically the only file which changes frequently enough. This way when there

[2016-01-30 08:10] ButuzGOL commented on #6
Could you please add more info because its not clear

[2016-01-30 14:44] dotnetCarpenter commented on #36
I think I got it. Apache returns a document where the `<a href` is just the file name and ecstatic returns a document where the `<a href` is the full qualified url from the root.

[2016-01-31 11:59] ButuzGOL commented on #43
Please take a look on #48
I did this structure
1. npm install -g cms.js
2. cms.js init
3. git push

So it will resolve all those issues

What do you think ?

[2016-02-01 00:16] chrisdiana commented on #44
Fixed with f23dd05

[2016-02-01 00:16] #44 closed

[2016-02-01 00:24] #5 closed

[2016-02-01 22:14] chrisdiana commented on #36
Tested on Apache, NGINX and ecstatic and looks good in both root and subfolders. Think we are good to close this?

[2016-02-01 23:24] maybegeek commented on #36
good work, thanks!

[2016-02-02 07:50] dotnetCarpenter commented on #36
Yep :cake:

[2016-02-02 07:50] #36 closed

[2016-02-03 01:24] ghost commented on #12
Honestly, when it comes down to it, CMS.js is great so I voted for it.

[2016-02-04 11:15] matheus commented on #12
My suggestion is MrHyde because is the good side of Dr Jekyll or hydejs

[2016-02-04 16:51] ghost commented on #12
@matheus I'm sold. I actually really love that.

The concept of that name has already been taken for a [Python alternative](http://hyde.github.io) to Jekyll, granted, there's no reason this project can't do the same. Still, since this isn't actually a static site generator, perhaps another piece of fiction could be assessed for a name.

Bradshaw is a character from the same book. He is Dr. Jekyll'

[2016-02-05 05:39] DanielBaird commented on #12
@barryanders I reckon not Hyde, because it's kind of defining the project in its relation to some other project which isn't so cool.  A more obscure character from the story, like Bradshaw, I think is fine though.

I still like wahlah, partly because it's a whole hearted adoption of the misspelling and mispronunciation of violá (implying pragmatism) but I also just realised that you can make it ev

[2016-02-05 23:15] montogeek commented on #40
+1 to remove jQuery as a dependency

[2016-02-08 22:10] chrisdiana commented on #12
Results are in! Thank you all for taking the time to voice your suggestions/votes!

1.Keep it the same - CMS.js
2. Copper.js
3. Mr.js

[Results](https://docs.google.com/spreadsheets/d/1t9hOih8zxhvHiTyj8dQ_I392Y6TTmb4gtAZmgdpv5ZE/edit#gid=457155553)`

[2016-02-11 05:53] ghost commented on #40
In progress: [#42](https://github.com/cdmedia/cms.js/pull/42)

[2016-02-21 01:13] deplicator opened #51 "markdown and yaml front matter conflict"
I didn't see anything about this in other issues. I have a habit of using the underlined h2 style in markdown.

[code]

I was getting some strange errors that I figured out has to do with the `parseSeperator` string in the settings object. I made a fix in parseContent method. I honestly don't even know if this is a real problem for other people, or just me. Am I doing something weird?

[2016-02-22 14:16] proweb commented on #3
+1

[2016-02-26 14:24] shoostar opened #53 "CLI utility"
I'm not entirely sure how difficult this would be to create, or maybe it could just as easily be done as a .BAT file, but I think it'd be pretty cool to have some sort of simple script that if you did:

[code]

it would automatically create a new blank document in the appropriate folder (`/posts` or `/pages`), while also passing the appropriate variables into both the file name itself (if needed;

[2016-03-07 14:44] chrisdiana commented on #53
Definitely on board. I like the idea of some CLI tools for CMS.js. I've been a little swamped for the past few weeks but I'm looking to get @ButuzGOL PR merged in soon.

[2016-03-08 01:00] k4kfh opened #55 "Separate Template for posts on homepage and on post page"
Could we have a separate template for posts on the homepage? I have a certain layout I want there and a different layout I want when a user visits the actual post page.

[2016-03-26 04:36] k4kfh opened #57 "Order of posts list wrong?"
I really like CMS.js, but there is one thing holding me back from using it in place of a normal blog CMS. I like the most recent post to be at the top of the page, but with CMS.js, the most recent is at the very bottom of the page. This really isn't user-friendly as it means viewers have to scroll _all the way down_ to the bottom to see the latest posts, with the older posts just wasting screen re

[2016-03-26 10:06] zlajaa1 commented on #57
On the line 144 in cms.js u have
CMS.posts.sort(function (a, b) { return CMS.settings.sortDateOrder ? b.date - a.date : a.date - b.date; });

Replace it with:
CMS.posts.sort(function (a, b) { return CMS.settings.sortDateOrder ? a.date - b.date : b.date - a.date; });

Its the function renderPosts()

[2016-03-26 10:14] zlajaa1 commented on #57
In **config.js** file you can set on the line **34**
 sortDateOrder:**true**,

[2016-03-27 02:40] k4kfh commented on #57
Thank you, that seems to have fixed it! For some reason that wasn't in my stock `config.js`...not sure what happened there...but it's working now. Thanks again!

[2016-03-27 02:40] #57 closed

[2016-04-07 14:11] mmokross commented on #3
+1

[2016-04-07 14:14] wolfheart opened #58 "Search for title or content"
Would be cool to have the ability to have a "search for" with either title or title and content.

[2016-04-07 14:17] mmokross commented on #3
If tags are available in any pages, show the list of tags for filtering.

[2016-04-22 04:01] codeGlaze commented on #51
I posted a fix for the dash problem as well.
It's different from the one I see you made. I'll replicate it here just in case you're interested.

Default:
`parseSeperator: "---",`

Replace with:
`parseSeperator: /^---$/m,`

That ensures exactly 3 dashes, on their own line, are matched for the parseSeperator.

Just use 4, or more, dashes for HR lines. ;)

[2016-05-09 01:32] joeljeru1 opened #61 "Add SEO Friendly Tags"
Nice and Light Weight Project Better have SEO Friendly Tags like
change `titlle , meta keywords, meta descriptions' on each page load.

[2016-06-07 04:56] jamieisboss commented on #12
If the name was decided in february, which i like, and awesome solution btw, why keep this issue open, link to it from the wiki pages and close this off, you did it already! A tidy house is a something... i dunno, good.

[2016-07-01 13:03] nibreh opened #62 "Neocities"
HI - Great App, thanks for the job !

I would like to ask if there is a way to use cms.js without htaccess/apache, because i would like to use it with a free [neocities.org](https://neocities.org/) account.

Don't know if neocities use apache, but if they do, with a supporter account we can upload restricted files maybe like htaccess.

Cheers - nibreh

[2016-07-01 22:41] juanbrujo commented on #34
I'm having this same issue, in localhost and 2 different LAMP servers.

[code]

 I had to change .htaccess to `Options +Indexes` due to a 403 error on ajax call in /posts & /pages.

Any 💡 ?

[2016-07-04 13:49] juanbrujo commented on #34
I could make it work on an nginx server. had to add this to domain's conf:

[code]

[2016-07-18 20:53] juanbrujo commented on #61
I think Google won't able to read them anyway, right?

[2016-07-29 17:04] juanbrujo opened #64 "Date in .md not file date"
I noticed CMS.js uses file creation/modification date to order posts. Is there any chance to use Date field in .md file to do so?

[code]

[2016-07-31 12:25] zamber commented on #64
It's possible to rewrite it to support that but it's a bit of work to do.

Right now the date is taken from the filename ([334](https://github.com/cdmedia/cms.js/blob/master/js/cms.js#L334)), to load it from the front matter you would have to go down to getContent > parseContent... and it looks like your case is already covered on line [222](https://github.com/cdmedia/cms.js/blob/master/js/cms.js#

[2016-08-31 15:06] rimselis opened #65 "setNavigation() is invoked before all pages are loaded"
When loading several pages, I have noticed that my navigation bar (`.cms_nav`) was lacking some links. My guess, the reason for that is that the end of content load is compared with page count using an ID-like-variable, not an actual counter.
### Short explanation

Pages are loaded asynchronously and the "counter" (value that is accessed by Ajax `success`) is passed by iterating the filenames in `

[2016-08-31 18:57] rimselis commented on #65
Quickest fix I could think of is creating CMS arrays `loadedPages` and `loadedPosts`, then in `parseContent()` adding:

[code]

This way the navigation will be loaded correctly. Not sure if that is an elegant solution though. Any comments/suggestions?

[2016-09-02 08:02] rimselis commented on #65
Found even easier solution using just the `CMS.posts` and `CMS.pages`. I will submit pull request.

[2016-09-02 16:11] codeGlaze commented on #61
If you could cache the pages as flat HTML files, they would be indexable. Maybe with cloudflare?

[2016-09-04 12:43] zamber commented on #61
@juanbrujo, it can (but it can't) http://searchengineland.com/tested-googlebot-crawls-javascript-heres-learned-220157 there are more rundowns of this kind but the best way to check it is to Google the demo https://www.google.pl/search?q=site:cdmedia.github.io/cms.js/demo/ which tells us that something in the code prevents Google from indexing properly.

Google Webmaster Tools has a bot preview too

[2016-09-05 15:28] codeGlaze commented on #61
@zamber , I was't suggesting caching be built into the project. But there are probably creative ways to get it to work, possibly using cloudflare. (I'm not sure if google just bypasses their cache or not.)

Overall, it would probably be better to save each rendered file as html instead of needing to call the parsing script constantly, anyway.

[2016-09-05 15:30] codeGlaze commented on #65
I'm wondering if it's time for someone to create an "official" fork of this project.

[2016-09-05 15:34] codeGlaze commented on #62
If you're looking at a supporter account, wouldn't it just be better to sign up for a normal host? For example, [Cloudways ](https://www.cloudways.com/en/pricing.php) has $5 bundles.

[2016-09-06 02:32] chrisdiana commented on #65
Hey guys I'm really sorry I've been MIA for so long. If anyone is interested in becoming a collaborator on this project please send me a PM. I just don't have the time right now to really contribute but would really like to keep this alive once some time is freed up. I'll create an announcement on the readme.

[2016-09-06 03:26] cdmedia opened #71 "Looking for collaborators..."
Hey all first I want to say thank everyone who has contributed to the project. It's been awesome getting to see this thing grow. I've been MIA for a while and I apologize for not being as involved as I would like. That being said, if anyone is interested in helping administer PRs/testing/QC on CMS.js please send me a PM or email cdiana.media@gmail.com. I really don't have the time right now to con

[2016-09-06 03:55] #12 closed

[2016-09-06 08:09] ButuzGOL commented on #71
I am not sure I will have time but you can add me to maintainers

[2016-09-06 09:10] rimselis commented on #71
It would be great to have someone more involved to discuss the features, issues, PRs, and overall direction of the project. To give this project a bit of momentum.
I'm just starting with git/(-hub/-lab) and open source development as a whole so not much help with what you are looking for, I guess. But I will gladly contribute with PRs, debugging and discussions (as I'm planning on using CMS on my

[2016-09-06 09:14] rimselis commented on #65
@codeGlaze, yeah, was wondering if that will happen. Maybe with #71 things will start moving forward.

[2016-09-06 09:18] rimselis commented on #6
@cdmedia, could you add a bit of context?

[2016-09-06 09:24] rimselis commented on #27
Issue solved?

[2016-09-06 09:24] rimselis commented on #32
Issue solved?

[2016-09-06 09:28] hi-caicai commented on #27
@rimselis yes

[2016-09-06 09:28] #27 closed

[2016-11-05 09:56] otech-nl opened #72 "security: config.js open to the world"
Thanks for this great package! Something I have been looking for for a long time :)

However, it occurred to me that config.js is open to the world, so anyone can read my github credentials by pointing their browser at js/config.js. Or am I missing something here?

Changing the file permissions from 644 to 640 doesn't work (blank screen), even when I change the file's group to www-data.

Any sugge

[2016-11-06 03:56] zamber commented on #72
It's just for the username and repo name. There's no sensitive data there
so what's the problem?

Changing permissions or doing redirects can break it AFAIK.

On Sun, Nov 6, 2016, 1:48 AM René notifications@github.com wrote:

[2016-11-06 11:40] otech-nl commented on #72
You're right. Obviously, I _was_ missing something ;)
My bad.

[2016-11-06 11:40] #72 closed

[2017-03-03 23:56] GusBeare commented on #61
It's worth taking a look at how Senna.js works in this respect.  A blog that bots can't crawl is useless to most bloggers out there. I had so much trouble with SEO using an SPA for blogging that I stuck with page refreshes but got rid of the DB layer and used Nancy Markdown Engine to render posts stored as .md files. It's very snappy.

I would assume cms.js has issues with Disqus comments per post

[2017-03-27 03:11] cdmedia commented on #71
Thanks for the support all! I'm going to try and

[2017-03-27 03:12] #71 closed

[2017-03-27 03:35] chrisdiana commented on #65
Hey guys! I'm back and trying to get this train rolling again. Over the next few weeks I'm going to try and get caught up with these issues and PRs. Thanks for all the suggestions and support!

[2017-03-27 03:48] chrisdiana opened #73 "Support/Docs for Node Ecstatic/HTTP Server"
Add support on how to use with Node.js Ecstatic server or Node.js HTTP-Server

[2017-03-27 03:49] chrisdiana commented on #34
Thanks for figuring this out. Will add to the Wiki.

[2017-03-27 03:49] #34 closed

[2017-03-27 03:56] #65 closed

[2017-03-27 03:57] chrisdiana commented on #43
I'm definitely on board with this type of structure. Working with you PR to finalize a solution.

[2017-04-03 14:40] maybegeek opened #74 "create own themes"
* create own themes
* directory structure for own themes
* ajax for getting the template.tpl

Hi there and nice to see @cdmedia back on track!

(As I'm not javascript-savvy enough, I'd rather try it with words.)

It would be nice to have `theme` support. A variable in `config.js` named `theme = ''` (default empty) could be set to the name of a directory in the newly created directory `theme`.

The

[2017-04-03 14:46] maybegeek opened #75 "reconsider <template> instead of <script>?"
Hi there,

in our `index.html` we use `<script id="foo-template" type="x-template">`. Should we consider using the  html5 element `<template>` for this?

* [template element vs. others](https://www.html5rocks.com/en/tutorials/webcomponents/template/)
* [MDN html reference: template](https://developer.mozilla.org/en/docs/Web/HTML/Element/template)

for consideration,
thanks

[2017-04-03 14:53] maybegeek opened #76 "add <meta name="keywords">"
Hi there,

should we add `<meta name="keywords" content="foo">` to the `<head>` of the `index.html` or possibly to `template.tpl` (if we would include such an option, see  #74).

As a bonus, we should allow `author: x`, `description: y` and `keywords: z` as structured input via `yaml` in the pages and posts md files.

thanks

[2017-04-04 08:37] maybegeek opened #77 "add class to currently viewed navigation item"
Hi there,

our navigation could get more styleable, if we had a class value (e.g. `current`) for the currently viewed item:

`<a ... class="cms_nav_link current" ... >`

* For the pages we would have currently viewed page title `==` menu item title
* We also would have to check for static front page and the list view of posts (which could have a own static page), as well as decide if we want to ad

[2017-06-14 16:52] jmcclelland commented on #1
Just tried this out and am very impressed.

And, pagination would be fantastic!

[2017-08-04 03:41] ghost commented on #40
Looking through old issues and I noticed that #42 was closed, which was in part the same issue as this. If someone else wants to carry this on, feel free to start a new issue. I think cms.js is really cool and may make a nice smooth framework for non blog situations too (ex. electron apps). The remaining pieces that rely on jQuery are pretty heavily coded in from what I remember. It would require

[2017-08-04 03:41] #40 closed

[2018-04-05 06:52] johnss commented on #61
If need to be indexed by search engine https://github.com/Xeoncross/jr have better search engine readability and better seo most probably.

it is easily crawlable by search engine and 100% client side, it also allow to pre rendered the generated html and save it to localStorage which you can upload to your favorite file storage like amazon S3, so there is no need to render JS in every page load.

[2018-10-25 19:53] filips123 opened #80 "Use HTML5 History API instead of hash"
You could use [HTML5 History API](https://developer.mozilla.org/en-US/docs/Web/API/History_API) instead of `window.location.hash`. It allows to change state, title and URL of page without reloading the page.

[2018-11-21 16:03] #6 closed

[2018-11-21 16:04] chrisdiana commented on #3
Resolved in v2.

[2018-11-21 16:04] #3 closed

[2018-11-21 16:06] chrisdiana commented on #4
Should be resolved in v2.

[2018-11-21 16:06] #4 closed

[2018-11-21 16:07] chrisdiana commented on #76
Should be resolved in v2.

[2018-11-21 16:07] #76 closed

[2018-11-21 16:07] chrisdiana commented on #75
Resolved in v2.0.

[2018-11-21 16:07] #75 closed

[2018-11-21 16:08] chrisdiana commented on #74
Resolved in v2.0. https://github.com/chrisdiana/cms.js-themes

[2018-11-21 16:08] #74 closed

[2018-11-21 16:08] chrisdiana commented on #73
Available in [wiki](https://github.com/chrisdiana/cms.js/wiki/Server-Mode)

[2018-11-21 16:08] #73 closed

[2018-11-21 16:09] chrisdiana commented on #64
Resolved in v2.0.

[2018-11-21 16:09] #64 closed

[2018-11-21 16:09] chrisdiana commented on #58
Resolved in v2.0.

[2018-11-21 16:09] #58 closed

[2018-11-21 16:12] chrisdiana opened #81 "CLI Utility"
It would be great to have a CLI utility to start a project (in addition to how it is set now with cloning). Thanks for the suggestion @ButuzGOL!

Maybe something like:

[code]

[2018-11-21 16:14] chrisdiana commented on #43
We pulled out the starter template from the source code to make maintaining easier in v2. I definitely think it would be great to have a CLI utility. I retitled and created a new issue [here](https://github.com/chrisdiana/cms.js/issues/81) to avoid confusion.

[2018-11-21 16:14] #43 closed

[2018-11-21 16:21] chrisdiana commented on #39
Should be resolved in v2.0.

[2018-11-21 16:21] #39 closed

[2018-11-21 16:22] #32 closed

[2018-11-21 16:22] chrisdiana commented on #16
Should be resolved in v2.0.

[2018-11-21 16:22] #16 closed

[2018-11-21 16:23] chrisdiana commented on #17
You should be able to control this much easier with templates and layouts in v2.

[2018-11-21 16:23] #17 closed

[2018-11-21 16:25] chrisdiana commented on #55
Should be resolved with templates in v2.

[2018-11-24 01:38] hong-duc commented on #81
Long time no see, welcome back :smile:

[2018-11-24 06:12] chrisdiana commented on #81
thanks @hong-duc! good to be back 👍

[2018-11-24 11:23] GiacomoManzoli opened #82 "Add DOT/GraphViz support"
It would be nice to directly add a DOT graph inside a post, something like [https://github.com/geeklearningio/graphviz-markdown-preview](https://github.com/geeklearningio/graphviz-markdown-preview).

To produce an SVG element from the graph definition there is [http://viz-js.com/](http://viz-js.com/)

[2018-11-24 21:47] DanielRuf opened #83 "CI"
I miss some CI config. We coukd run the linting for every commit and PR.
I suggest using Travis CI.

[2018-11-25 06:40] chrisdiana commented on #83
Good thinking @DanielRuf👍

[2018-11-25 12:04] piranna opened #84 "Allow to publish new content"
It's possible to use https://github.com/azu/git-commit-push-via-github-api to create commits on Github using its API, so could it be possible to add support to create new blog entries directly from the browser, adding new files with its content?

[2018-11-27 08:47] 466023746 opened #86 "markdown code area not correct"
see [blog](https://466023746.github.io/cms.js-starter/#/posts/2018-11-27-iscroll)

[2018-11-27 09:38] pbuzdin opened #87 "each page view requests all other pages"
for example navigating to http://chrisdiana.github.io/cms.js/demo/#/pages/about also requests all other pages:
![image](https://user-images.githubusercontent.com/1329807/49072421-39201500-f241-11e8-8e3d-b908cc007197.png)

[2018-11-28 01:38] chrisdiana commented on #87
Good catch @pbuzdin Yeah this is definitely not ideal. We can at least just do it on initial load only.

During the refactor, I considered just doing the request on each route change but then we wouldn’t be able to access the other content such as post snippet, tags, etc. Just a side note.

[2018-11-28 11:24] wasnlosdu opened #88 "Split CMS.js file in to smaller parts"
I think it would be great if we would split up the "large" file into smaller chunks so it's more readable.
Is there any interest in it?

[2018-11-28 22:12] chrisdiana commented on #88
Hey @wasnlosdu yes I’m definitely on board with that. I actually have a working branch already started splitting out the code. I’ll push it up and let you know when it’s up.

[2018-11-28 23:33] MorganConrad commented on #88
Was going to propose this myself, but @wasnlisdu beat me to it.  A big plus would be that end users could (possibly) swap out parts.  For example, if they want to use Mustache for templates, GitLab or Bitbucket for hosting, etc..

[2018-11-28 23:55] MorganConrad commented on #87
I'm very new to looking at this project, so may be way off base, but maybe this initial cache could be handled by a Service Worker?  And maybe some other things...  Just brainstorming.

[2018-11-29 00:40] chrisdiana commented on #80
I up for this too @filips123

[2018-11-29 00:41] chrisdiana commented on #53
Closing this and reopened as #81

[2018-11-29 00:41] #53 closed

[2018-11-29 06:14] jreitz-dev commented on #88
@chrisdiana - that sounds awesome if you need any help just ask :)

I f think I like the idea @MorganConrad but I'm concerned we might overcomplicate things. What do you think?

[2018-11-29 09:10] MorganConrad commented on #88
@wasnlosdu I agree my ideas might overcomplicate.  They are more of a version 3 or 4 thing.  But good to keep in mind as you split up and modularize CMS.js.

[2018-11-29 09:13] jreitz-dev commented on #88
@MorganConrad let's try to remember that.

@chrisdiana do you have an opinion about the feature idea?

[2018-11-30 00:55] chrisdiana commented on #88
Yeah I agree with you @wasnlosdu as we might fall into the trap of over-complicating things. We can maybe leverage plugin extending or config extending similar to how the markdown engine works. This way we can keep the core clean while not limiting features. Once I get a chance to push up the split code maybe you all can take a look and see if we missed anything.

[2018-11-30 00:56] chrisdiana commented on #82
Very cool. Yeah this would be great to have available @GiacomoManzoli. Let me dig into this a bit deeper and I'll check back in.

[2018-11-30 00:57] chrisdiana commented on #87
Yeah, possibly @MorganConrad as long as we have a fallback strategy for modern browsers that don't support service workers yet.

[2018-11-30 08:32] 466023746 commented on #86
I use the [markdown-it](https://github.com/markdown-it/markdown-it) engine to solve this problem.

[code]

[2018-11-30 08:32] #86 closed

[2018-11-30 09:11] 466023746 opened #89 "1 day longer than normal"
the code

[code]

should be

[code]

[2018-12-10 03:43] chrisdiana commented on #88
Hey @wasnlosdu @MorganConrad so I split up the code into smaller modules so it's easier to maintain. While I was at it, I also just figured I'd move the code to ES6/Babel since we would be combining files anyway at that point. So now it's using rollup with a few plugins for building but the source is still dependency free...keeping it nice and small. I'm sure I missed a few things in the migration

[2018-12-10 03:43] #88 closed

[2018-12-10 03:55] chrisdiana commented on #84
Hey @piranna I think you would need an API key in order to push new commits to the repo so it most likely couldn't be done standalone within the `config.js` file. If it was in that file, it would be really dangerous that your secret API key would be visible for anyone since it's all public facing but....

There could be a way to do it in browser through CMS.js. Although, I'm not sure how ideal it

[2018-12-10 04:00] chrisdiana commented on #77
Hey @maybegeek with the release of v2.0 and the restructuring of how CMS.js handles templates/nav  this would probably best be solved with a custom plugin that could trigger `onroute` and check the instance's `state` to match on that. I'll close this for now but I think this would be a great idea to add to the new feature examples.

[2018-12-10 04:00] #77 closed

[2018-12-10 04:12] chrisdiana commented on #87
Hey @pbuzdin just taking a deeper look into this. I'm pretty sure this is by design. On initial load, CMS.js will request all pages/posts/content since it needs to map it all out for parsing, sorting, etc. It only requests the template each time a link is clicked (which is something we should probably just be caching and is on the roadmap). As long as all pages and content don't load each time a n

[2018-12-10 17:59] piranna commented on #84
At https://github.com/NodeOS/GitBlog we were using Github authentication to bypass requests limit, but it would be possible also to only allow to publish new content to the blog owner or the ones authorized :-) Owner would only need to login in Github and later with OAuth2 he would be able to post new entries and upload new files since a CMS/blog-like interface instead of dealing directly with the

[2018-12-11 03:28] chrisdiana commented on #84
Very cool @piranna. Conceptually, the GitBlog project seems really similar to this project! I wished I would have stumbled across this a few years ago when I started this.

The API limit is definitely something I've been trying to figure out ways to bypass and I think this could be a possible alternative for authenticated users. Also, the blog-like interface is something I've heard users would lov

[2018-12-11 03:44] chrisdiana opened #91 "Post list in example not displaying correct date"
[code]

Should be:

[code]

[2018-12-11 04:12] chrisdiana commented on #62
Not sure if this is still relevant. Going to close for now.

[2018-12-11 04:12] #62 closed

[2018-12-11 04:37] chrisdiana commented on #82
So I did a little digging @GiacomoManzoli and couldn't find any current JavaScript markdown parsers (such as [snarkdown](https://github.com/developit/snarkdown), [marked](https://github.com/markedjs/marked), etc) that support GraphViz yet. I might just not be aware so feel free to take a look around and let me know if you find one.

There is a Python library that does [here](https://github.com/mad

[2018-12-11 04:37] #82 closed

[2018-12-11 07:17] GiacomoManzoli commented on #82
Ok!
And what about a change on the default renderer?

I took a quick look to the `markdown.js` file and i've seen that with a small change it could improved to extract the language type of a code area and the use the language information to parse the block in a different way, based on the language type:

[code]

So, if `lang` it's `graphviz` it could be rendered as an SVG, while if it's normal cod

[2018-12-11 09:35] piranna commented on #84
I'm glad you liked it :-) In fact, the idea behing it was to use GitHub issues as a blogging storage, so it can also work as a forum and mail-list... Not exactly the same, but I can see the similarities :-) But it's cleaner to have it in a plain-old git repo, and also allow to move it anywhere easily, that's why I prefer to move to cms.js :-)

I don't know if this would be feasable... but left it

[2018-12-11 10:04] piranna commented on #84
Unauthenticated rate limit is of [60 request per hour](https://developer.github.com/v3/#rate-limiting) per user, and authenticated ones is of 5000 request per hour per user. This can be increased by using a [Github App token](https://developer.github.com/v3/#increasing-the-unauthenticated-rate-limit-for-oauth-applications), but this limit to 5000 request per hour per app (since we are authenticate

[2018-12-13 09:22] tyeeman opened #92 "Can't see any posts"
I've spent 2 hours playing with apache trying to allow cms.js have access to folders, which I believe is the problem but all I get is this -
![2018-12-13_011925](https://user-images.githubusercontent.com/4469306/49928622-62fa4e00-fe75-11e8-8473-9ea5d65b98fa.png)

Any tips? I have the following enabled in the Apache config file -
[code]
Update - just uploaded to my personal web space and it works.

[2018-12-13 23:16] chrisdiana commented on #92
I don't think this is related to local file access issues. Looks like it's pulling in the correct amount of files so it's definitely recognizing those files in the directory or else the page would probably be blank. If you click on the link does it redirect to another page? Any console errors?

[2018-12-14 01:02] tyeeman commented on #92
All links point to
[code]
When I get there the page shows -

![2018-12-13_170156](https://user-images.githubusercontent.com/4469306/49976908-e1e49a80-fef8-11e8-92df-ef333ace748d.png)

[2018-12-14 22:27] chrisdiana commented on #87
Closing this for now. Let me know if I missed something @pbuzdin. @MorganConrad I think it would be great to add the service worker feature to the roadmap as a feature enchancement.

[2018-12-14 23:05] chrisdiana opened #93 "Fix Google Crawler Issues"
Verify Google is crawling CMS.js dynamic views correctly.

[2018-12-14 23:32] chrisdiana commented on #84
Awesome @piranna thanks for digging into the API rate limits. That’s definitely helpful info.

I like the idea of using localStorage as a caching and maybe conditional requests (if it doesn’t break other functionality). I think that could be a good solution for now to help limit the number of API requests needed. Personally, I’d prefer to stay away from any dependiencies (if possible—besides devDe

[2018-12-17 19:39] piranna commented on #84
You are welcome :-)

We could keep an eye on the library size with [size-limit](https://github.com/ai/size-limit), to know exactly when things are going too far. If we make use of caching and conditional requests, it make sense to use already available modules, or at least to split the functionality and allow reusability. For example, access to files can be done with regular HTTP requests and only

[2018-12-17 20:23] piranna commented on #84
I've found a problem related to the comments: since they could be done by anybody, they would need to have commit permissions to the repo, that mostly would not be the case. Alternatively they can be set as commit authors and being ourselves the commiter, so since we have permissions it could be done, but then we would need to have our token publicly, that's a security issue. To publish blog entri

[2018-12-17 23:20] chrisdiana commented on #92
Hey @tyeeman what does your directory index page look like? For example with Node Ecstatic server it looks like this:

<img width="1011" alt="screen shot 2018-12-17 at 4 19 58 pm" src="https://user-images.githubusercontent.com/4675420/50121912-a0652f80-0217-11e9-8605-9006b52f0a2a.png">

[2018-12-17 23:34] #51 closed

[2018-12-17 23:34] tyeeman commented on #92
Like this -
![2018-12-17_164530](https://user-images.githubusercontent.com/4469306/50124851-47979600-021b-11e9-9527-caf7a5124aa3.png)

When I click on each of them I see the markdown.

[2018-12-19 00:02] chrisdiana commented on #93
Google **is not** crawling CMS.js correctly as seen in the "fetch as google" image below.

We may have to implement a dynamic renderer or prerenderer as a [dependency as seen here](https://developers.google.com/search/docs/guides/dynamic-rendering). Exploring options...

SEO optimization and crawling issues are also related to #24 and #61.

<img width="1010" alt="screen shot 2018-12-18 at 4 56 20

[2018-12-19 00:06] #89 closed

[2018-12-19 00:07] #91 closed

[2018-12-20 22:43] chrisdiana commented on #92
@tyeeman can you send over some details about your setup so we can try and recreate the issue?

- Browser (and version)
- OS
- Web server (and version)

[2018-12-22 05:35] tyeeman commented on #92
Hi Chris, like I said on my webspace I can see it's working just fine, but not on my localhost. I have two localhost apps (Laragon and Caddyserver, latest versions) and laragon shows like above and I just tried Caddyserver and it shows totally blank windows except for the title which shows fine. I'm on windows7, firefox 59.0.2.

[2018-12-23 02:09] chrisdiana commented on #92
@tyeeman CMS.js hasn't been tested on Caddyserver to my knowledge but seems like to it should work on Laragon (looks like it's using Apache). Do you happen to know which version of Apache that Laragon is running?

If you don't mind switching web servers for localhost, you can use Node Ecstatic by installing [http-server](https://github.com/indexzero/http-server) for Node.js.

- Install Node.js and

[2018-12-23 02:21] chrisdiana commented on #24
Going to close out this issue for now since the main issue regarding search engine crawling/SEO will be focused on in #93 @BarryMode @nsteiner.

@BarryMode is right as hash links will be a difficult hurdle to overcome without some larger rewrites. Generating the content server-side or offline would move away from the goals of the project to be a completely client-side solution. There are plenty of

[2018-12-23 02:21] #24 closed

[2018-12-23 02:33] chrisdiana commented on #61
Similar concern was also brought up in #24.

Going to close out this issue for now since the main issue regarding search engine crawling/SEO will be focused on in #93 @joeljeru1 @juanbrujo @codeGlaze @zamber @GusBeare.

The title can now be dynamically changed in v2.0 using the new `onroute` event using something like:
[code]
but we will still need to fix SEO since crawlers won't recognize hash li

[2018-12-23 02:33] #61 closed

[2018-12-23 13:07] piranna commented on #84
I think [noddity](https://tehshrike.github.io/noddity/#!/) can be of your interest, it uses pull-requests to manage content changes in a wiki-like style. Also in http://jlord.us/forkngo/ there's several tools for static websites, the most interesting one http://jlord.us/sheetsee.js/ that uses Google Spreadsheets as a database, that could be used for the comments :-)

[2018-12-24 06:14] 466023746 commented on #93
Also need to use history mode, crawler don't crawl the hash url.

[2018-12-24 19:45] piranna commented on #84
Ok, https://staticman.net/ automatically modify data files in Jekyll static sites, that's exactly what were needing :-)

[2018-12-28 04:16] chrisdiana commented on #92
@tyeeman let me know if you are still having issues. Closing this for now since it seems to be related to an unsupported web server.

[2018-12-28 04:16] #92 closed

[2019-01-02 12:25] jreitz-dev commented on #88
Hey @chrisdiana - I'm back from my vacation and I must say, things look pretty good. 👍

[2019-01-02 14:40] fabricioanciaes opened #95 "Can't put url on post metadata and pull them via the template engine"
I was trying to put urls in the post listings. Sort of a featured image for each post.

[code]

As a test I've put a url.

Then modified the layout on the post listings to reflect the changes:

[code]

and the output html looks like this:
[code]

Is it intentional? I suppose the // in the url are getting escaped by themselves.

[2019-01-12 17:35] chrisdiana commented on #88
Great to hear @wasnlosdu !

[2019-01-13 06:02] chrisdiana commented on #95
At first glance this looks like a bug with the front matter parser. Definitely not intentional behavior. Probably right that the "//" is getting escaped or there might be a split by ":" that's causing the issue.

[2019-01-27 12:39] samueldcs commented on #81
I'm working on this right now, if you want, I can create a public repo to show my progress and allow contirbutions.
I'm creating it using node, so it can be installed through npm. The only libraries I'm using right now are Inquirer and chalk.
Currently handling GitHub responses by myself, no API wrapper.
If anyone is interested, including @chrisdiana , contact me here

<img width="346" alt="screen

[2019-02-05 21:44] patxiska opened #96 "Gitlab Support"
Hi guys! I found your project really interesting!
Is there any plans for supporting gitlab hosting in the near future?

cheers!
Francisco

[2019-02-17 23:11] chrisdiana commented on #96
Absolutely @patxiska! Should be pretty easy to port over the functionality.

[2019-02-17 23:12] chrisdiana commented on #81
Looking great @samueldcs!

[2019-03-02 02:03] optimalbliss opened #98 "Feature Idea"
Provide a basic edit mode (?edit=true) to link a content region to the source document. Could be as simple as key command-click on a content region to open the path on github or wherever the source is located.

[2019-03-02 15:47] mesarpe opened #99 "Support for websites without Indexing support"
By changing the line *88* of filecollection.js, it is possible to support web servers without support for the Apache directive *DirectoryIndex*.

It is necessary to replace:
`get(this.getFileListUrl(this.type, config), function(success, error) {`
By the following:
`get(this.getFileListUrl(this.type, config) + '/index.html', function(success, error) {`

Then, we can manually generate the index.html

[2019-03-09 01:46] roskelld opened #100 "links replacing # with h1 due to markdown"
I was looking for a solution to add blog posts to my GitHub site and here we are.

When testing out my own code and the hosted [demo code](http://chris-diana.com/cms.js/demo/#/posts/2018-03-01-sample-blog-post) I noticed that URLs with a `#` (so, all hosted pages) are replaced by `<h1>` in the rendered URL.

Example:
Go to the demo post
[http://chris-diana.com/cms.js/demo/#/posts/2017-08-20-anothe

[2019-03-09 01:51] roskelld commented on #100
I just noticed the comment in the code

I guess this is a known issue

[2019-03-09 02:09] roskelld commented on #100
EDIT: SCRATCH THAT I THINK I MISUNDERSTOOD HOW THE CODE WORKS WHEN GENERATING HEADERS

I'm no expert on regex, but I tested this out and it works.

[code]

It tests that there's no `/` following the first `#`

Here's a test case
[regexr.com/49sbu](regexr.com/49sbu)

[2019-03-10 00:17] crazy4groovy opened #101 "null fileUrl causing errors"
Tried the default app, got errors:
`Cannot read property 'split' of null`
at isValidFile (cms.js:197)

After some digging, this seemed to help the issue:
[code]
as sometimes `file.getAttribute('href')` would return null, which has no `.split`

Also this part in index.html was causing some errors:
`<script src="../src/cms.js"></script>`
because it can't be served from `http-server`. So I moved the

[2019-03-26 19:16] e-g-b opened #102 "Cannot read property 'split' of undefined"
Tried running the default demo and got some errors related to missing pages and posts. Also get - Cannot read property 'split' of undefined.

![Screen Shot 2019-03-26 at 3 15 36 PM](https://user-images.githubusercontent.com/3340761/55026812-24c70b80-4fda-11e9-8c82-e8b40b0fc30b.png)

![Screen Shot 2019-03-26 at 3 18 28 PM](https://user-images.githubusercontent.com/3340761/55026967-7bcce080-4fda-11e

[2019-03-26 19:49] oleteacher commented on #99
Very interested but I cannot seem to find filecollection.js after cloning (used recommended git clone https://github.com/chrisdiana/cms.js-starter.git)

Even downloaded the latest release and not in files.

Any advice appreciated.

[2019-03-26 19:51] oleteacher commented on #102
Same "exact"  issue for me. Only difference is trying on a live server and not localhost.

[2019-04-04 12:28] chrisdiana commented on #102
@e-g-b @oleteacher can you throw up your environments? i.e. web server you are using?

[2019-04-04 12:35] chrisdiana commented on #99
Thanks for the suggestion @mesarpe! Great thinking! We should be able to roll that into the next release.

[2019-04-04 12:38] chrisdiana commented on #99
@oleteacher it's most likely because the starter project only includes the minified version. you can see the [file collection source here](https://github.com/chrisdiana/cms.js/blob/develop/src/filecollection.js).

[2019-05-06 16:42] raygit83 opened #103 "Issues trying to retrieve pages/posts file listing in SERVER mode"
I'm trying to get started using the 2.0 master branch checkout in server mode. It fails to render the example index.html page running on my server..debugging reveals that calling into get(url, callback) for url = 'posts' results in a http status of 403 (forbidden). What can I do?

[2019-05-06 17:28] raygit83 commented on #103
Setting “Options +Indexes” instead of “Options Indexes” in the content directories’ .htaccess seems to at least help retrieving the file lists. However, the renderer still seems to fail retrieving the content given that the urls passed to get are lacking the /pages or /posts infixes.

EDIT: This seems to be related to #92 and I’m seeing the same type of directory listings as shown in https://githu

[2019-05-07 09:42] raygit83 commented on #103
I have further debugged the issue and it seems it has to do with the way the index pages are structured by my server environment:

The getFiles function will enumerate all and push valid files into the this.files vector. However, the URL returned by getFileUrl is retrieved using getAttribute('href'), which in case is "somepage.md" instead of "pages/somepage.md" or "somedomain/pages/somepage.md", s

[2019-05-08 15:07] raygit83 opened #104 "IE11 support / Object.assign()"
Any chance to see an IE11 patch which apparently doesn't support Object.assign() ?

Thanks.

[2019-05-09 09:26] raygit83 commented on #103
Okay, I see this is a duplicate of #36 .

However, it seems that the issue hasn't been fixed for good, so here is my proposal to allow for auto-detecting whether the server provides full or relative index path hrefs:

Insert the following snippet

[code]

between the lines

[code]

and

[code]

in the getFiles function.

[2019-05-09 09:35] raygit83 commented on #104
Here are the changes required to facilitate IE11 support:

1. Add a polyfill for Object.assign(), e.g. right before ```this.init()``` on the bottom of CMS.js:

```"function"!=typeof Object.assign&&(Object.assign=function(n,t){"use strict";if(null==n)throw new TypeError("Cannot convert undefined or null to object");for(var r=Object(n),e=1;e<arguments.length;e++){var o=arguments[e];if(null!=o)for(va

[2019-06-11 10:07] raygit83 commented on #100
Hi roskelld,

This code works in filtering # in url links, however it also breaks the detection of regular headings on page markdown articles.

Here's an alternative regex, that works in both cases:

```regex: /(#+)(?!\/)(.*)/g```

This one assumes that a # preceding a url is directly followed by a / which makes sense in the cms.js environment (e.g. /#/pages/somearticle)

[2019-12-13 09:14] bjalon commented on #100
Great, it works just find... You may can propose it as pull request ?

[2020-09-12 17:27] #83 closed

[2021-03-04 02:28] chrisdiana commented on #103
Thanks for finding this @raygit83 👍

[2021-03-04 02:33] chrisdiana commented on #102
Thanks for finding @e-g-b @oleteacher 👍 Should be fixed with #107

[2021-03-04 02:34] #103 closed

[2021-03-06 16:09] #102 closed

[2021-03-06 16:09] #101 closed

[2021-04-17 13:56] tafaust commented on #81
@samueldcs Any updates on this?

[2021-04-26 10:02] matdombrock opened #108 "Starter project not working"
I'm on Ubuntu 18.04 serving the files from Apache and testing the front-end on the latest Chrome stable.

I can't get the app to work, all of the pages are 404.

I've confirmed that everything (htaccess, config ect) is working correctly.

As a matter of fact if I clone the main repo instead of the starter it works fine (as expected).

So whatever is going on here really is specific to the starter

[2021-08-18 21:35] quantumalchemy opened #110 "Not working in NGINX"
using config @
https://github.com/chrisdiana/cms.js/wiki/Server-Mode
fo NGINX
not picking up the urls pages or posts
ie /#/posts    nothing shown using example

[2022-05-23 16:23] jywarren commented on #99
I wonder if it could be possible to specify a sitemap from a single json or yml config file, for easy to configure completely static sites with no external API calls or indexing required? How hard would that be to adapt here? Thank you!

[2022-05-23 16:31] jywarren commented on #99
Hmm, https://github.com/chrisdiana/cms.js/blob/main/src/filecollection.js seems pretty straightforward in terms of being adapted to a static JSON index... would you be open to my trying?

[2022-10-27 14:53] jywarren commented on #99
Another way to streamline this could be to run an automated index.html generator such as https://www.npmjs.com/package/generate-index-html as well.

[2022-11-05 17:16] cdp1337 commented on #95
![image](https://user-images.githubusercontent.com/737865/200132804-6070a7e3-5e3e-48d4-aca2-8089e25cb66a.png)

I recently found this project and am having some fun. ;)